body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #878b8f;
  color: #343a40;
  background-image: url('/imagenes/imagen.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-height: 100vh;
  margin: 0; 
  padding: 0; 

}
#formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #d7d7d7;
  border: 2px solid #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  gap: 10px;

}

@media (max-width: 600px)
{
  #formulario{
  flex-direction: column;
  align-items: stretch;
  }
}

#formulario label {
  font-size: 0.8em;
  color: #fb9323;
  ;
  margin-bottom: 5px;
  display: block;
}

#formulario input,
#formulario select,
#formulario button {
  flex: 1;
  padding: 5px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

#formulario input,
#formulario select {
  max-width: 150px;
}

#formulario button {
  background-color: #495057;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 120px;
}

#formulario button:hover {
  background-color: #343a40;
}
h1 {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 2.5em;
  color: #fb9323;
  margin-bottom: 20px;
}

#galeria {
  display: grid;
  grid-template-columns: repeat(4,minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
 
}

#atras{
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #fb9323;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);



 }

 #atras:hover{

  background-color: darkorange;


 }

.contenedorInd {
  border: 2px solid #adb5bd;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color:#d7d7d7;
  transition: transform 0.2s, box-shadow 0.2s;
  

}

.contenedorInd:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px #d7d7d7;
}

.imagen-tarjeta {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #adb5bd;
  margin-bottom: 10px;


}

h4 {
  font-size: 1.3em;
  color: #212529;
  margin: 10px 0;
  font-family: 'Georgia', serif;
}

p {
  margin: 5px 0;
  font-size: 1em;
  color: #495057;
  font-family: 'Arial', sans-serif;
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#footer button {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 2px solid #adb5bd;
  color: #495057;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;


}

#footer button:hover {
  background-color: #adb5bd;
  color: white;


}